
    body{
      font-family: 'Poppins', sans-serif;
      background-color: hsl(229, 6%, 66%);

    }
    .para
    {
       width: 450px;
       margin: 0 auto 0 auto;
       font-weight: lighter;
       padding-bottom: 50px;
       
    }
    .toph2
    {
        font-style:  italic;
        font-weight: lighter;
        line-height: 0;
        padding-top: 50px;
        text-align: center;
    }
   
    .red
    {
        display:inline-block;
        position: absolute;
        right: 500px;
        background-color: hsl(0, 0%, 98%);
        border-top: solid;
        border-top-color:red ;
        border-top-width: 5px;
        height: 250px;
        width: 350px;
    }
    .blue
    { 
        display:inline-block;
        position: absolute;
        right:870px;
        top: 400px;
        background-color: hsl(0, 0%, 98%);
        border-top: solid;
        border-top-color: hsl(180, 62%, 55%);
        border-top-width: 5px;
        height: 250px;
        width: 350px;
    }
    .violet
    {
        display:inline-block;
        position: absolute;
        top: 400px;
        right: 130px;
        background-color: hsl(0, 0%, 98%);
        border-top: solid;
        border-top-color:hsl(212, 86%, 64%) ;
        border-top-width: 5px;
        height: 250px;
        width: 350px;
    }
    .orange
    {
        
        display: inline-block;
        position: absolute;
        right: 500px;
        top: 550;
        background-color: hsl(0, 0%, 98%);
        border-top: solid;
        border-top-color: hsl(34, 97%, 64%);
        border-top-width: 5px;
        height:250px;
        width:350px;
    }
    .fotter
    {
        padding-top: 50px;
        display: inline-block;
        position: absolute;   
        top: 800;
        bottom: 0;
        left: 450px;
    }
   .team-builder
   {
     position: relative;
     left: 240px;
   }
   .supervisor
   {
    position: relative;
    left: 240px;
   }
   .calculator
   {
     position: relative;
     left: 240px;
   }
   .karma
   {
    position: relative;
    left: 240px;
   }
   